# Syntax: https://git-scm.com/docs/gitignore

# General
.DS_Store
*~
.vscode
.env

# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Django / local dev
db.sqlite3
*.log

# IDE
.vscode/